<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR 360</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <!--Header-->
    <header>
        <nav class="navbar">
            <div class="container__logo">
                <img class="logo" src="../../public/images/HR-360-small.png" alt="HR360 logo">
            </div>
            <div class="container__btn">
                <a href="/" class="a__login">
                    <button class="login_btn">Acceder</button>
                </a>
            </div>
        </nav>
        <section class="banner"> 
            <img class="logoBig" src="../../public/images/HR-360-logo-big.png" alt="HR360 logo">
            <h1>Incremente la eficiencia de su empresa con nuestro software de RRHH. <br>                
                Contáctanos hoy mismo para obtener más información y programar una demostración personalizada.</h1>
        </section>
    </header>
    <!--asd-->
    <!--Footer-->
</body>
</html>
